[submodule "extern/tinyply"]
	path = extern/tinyply
	url = https://github.com/ddiakopoulos/tinyply
[submodule "extern/dlpack"]
	path = extern/dlpack
	url = https://github.com/dmlc/dlpack
[submodule "extern/template-tensors"]
	path = extern/template-tensors
	url = https://github.com/fferflo/template-tensors
